<?xml version="1.0" encoding="utf-8"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <variable name="logDirectory" value="${basedir}/Logs/${shortdate}"/>
    <targets>
        <target name="file1" xsi:type="File" fileName="${logDirectory}/file1.txt"/>
    </targets>
    <rules>
        <logger name="*" minlevel="Debug" writeTo="file1" />
    </rules>
</nlog>